.set-pw-wrapper {
    height: calc(100vh - 90px);
    max-height: calc(100vh - 90px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    align-items: center;
}

.PB20 {
    padding-bottom: .5rem;
}

.PL10 {
    padding-left: 10px !important;
}

.set-pw-flex-row {
    display: flex;
    flex-direction: column;
}

.set-pw-new-password-card {
    width: 450px !important;
    border-top: 1px solid rgba(128, 128, 128, 0.14);
    box-shadow: 0 5px 7px -1px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px 0 rgba(0,0,0,.12) !important;
}

.set-pw-new-password-header-text {
    font-size: 2.1rem;
    font-weight: 600;
    color: #17476B;
    padding-bottom: 0.5em;
}

.set-pw-new-password-mat-header .mat-card-header-text {
    margin: 0px !important;
}

.set-pw-new-password-mat-content .mat-card-content {
    font-size: 1.4rem !important;
}

.set-pw-create-btn {
    background: #17476B !important;
}

.set-pw-red {
    color: #EB5C6E;
}

.set-pw-green {
    color: rgb(66, 206, 39);
}

.set-pw-description {
    border-width: 1px;
    border-color: #8E8E8E;
    border-style: solid;
    border-radius: 10px;
    padding-top: 1rem;
}

.set-pw-description-text {
    color: #8E8E8E;
    font-size: 1.3rem !important;
    padding-bottom: 5px !important;
}

#cover-spin {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
    display: block;
}

#cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}

#cover-spin::after {
    content: "";
    display: block;
    position: absolute;
    left: 48%;
    top: 40%;
    width: 40px;
    height: 40px;
    border-style: solid;
    border-color: rgb(82, 143, 167);
    border-top-color: transparent;
    border-width: 4px;
    border-radius: 50%;
    -webkit-animation: spin 0.8s linear infinite;
    animation: spin 0.8s linear infinite;
}

.color-header {
    color: #17476B;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
app-set-password{
    .strengthBar {
        display: inline;
        list-style: none;
        margin: 0;
        padding: 0;
        vertical-align: 2px;
    }
    
    .point:last-of-type {
        margin: 0 !important;
    }
    
    .point {
        background: #DDD;
        border-radius: 2px;
        display: inline-block;
        height: 5px;
        margin-right: 1px;
        width: 62px;
    }
    
    p {
        font-weight: bold;
        font-size: 20px;
    }
}