<div id="cover-spin" *ngIf="showSpinner"></div>
<app-element-confirmdialog *ngIf="formData.confirmDialog" [showButton]="false" [message]="formData.message" (fireModalEvent)="onModalClick($event)"></app-element-confirmdialog>
<section class="content">
    <div class="set-pw-wrapper">
        <mat-card class="set-pw-new-password-card">
            <mat-card-header class="set-pw-new-password-mat-header">
                <div class="set-pw-new-password-header-text">
                    {{'NEWPASSWORD.CREATEAPASSWORD' | translate}}
                </div>
            </mat-card-header>
            <form [formGroup]="loginForm" #setpasswordform="ngForm">
                <mat-card-content class="set-pw-new-password-mat-content">
                    <div class="set-pw-description">
                        <ul>
                            <li class="set-pw-description-text">{{'NEWPASSWORD.CREATEAPASSWORDWITHATLEAST' | translate}} {{minLength}} {{'NEWPASSWORD.CHARACTERSLONG' | translate}}</li>
                            <li class="set-pw-description-text">{{'NEWPASSWORD.INCLUDEONEMORENUMERICS' | translate}}</li>
                            <li class="set-pw-description-text">{{'NEWPASSWORD.INCLUDEONEMORECAPITLASMALLLETERS' | translate}}</li>
                            <li class="set-pw-description-text">{{'NEWPASSWORD.INCLUDEONEMORESPECIALCHARACTERS' | translate}}</li>
                        </ul>
                    </div>
                    <div class="set-pw-flex-row MT25">
                        <mat-form-field class="example-full-width PB21">
                            <input matInput formControlName="password" [type]="hidePw ? 'password' : 'text'" placeholder="Password" (keyup)="checkStrength()">
                            <mat-icon class="pointer" matSuffix (click)="hidePw = !hidePw">{{hidePw ? 'visibility_off' : 'visibility'}}</mat-icon>
                            <mat-error *ngFor="let error of error_messages.password">
                                <div class="error-message"
                                *ngIf="loginForm.get('password').hasError(error.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                                {{ error.message }}
                            </div>
                            </mat-error>
                            <mat-error>
                                <div class="error-text" *ngIf="loginForm.get('password').hasError('passwordStrength') && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                                    {{loginForm.get('password').errors['passwordStrength']}}
                                </div>
                            </mat-error>
                            
                          </mat-form-field>
                          
                          <mat-form-field class="example-full-width PB21">
                            <input matInput formControlName="confirmpassword" [type]="hideConfPw ? 'password' : 'text'" placeholder="Confirm Password">
                            <mat-icon class="pointer" matSuffix (click)="hideConfPw = !hideConfPw">{{hideConfPw ? 'visibility_off' : 'visibility'}}</mat-icon>
                            <mat-error *ngFor="let error of error_messages.confirmpassword">
                                <div class="error-message"
                                    *ngIf="loginForm.get('confirmpassword').hasError(error.type) && (loginForm.get('confirmpassword').dirty || loginForm.get('confirmpassword').touched)">
                                    {{ error.message }}
                                </div>
                            </mat-error>
                            <mat-error>
                                <div class="error-text" *ngIf="loginForm.get('confirmpassword').hasError('passwordStrength') && (loginForm.get('confirmpassword').dirty || loginForm.get('confirmpassword').touched)">
                                    {{loginForm.get('confirmpassword').errors['passwordStrength']}}
                                </div>
                            </mat-error>
                            <mat-error *ngIf="loginForm.getError('passwordNotMatch', ['confirmpassword']) as errorMessage" class="FS11 set-pw-red">
                                {{errorMessage}}
                            </mat-error>
                          </mat-form-field>
                    </div>
                    <div>
                        <mat-label class="set-pw-description-text">{{'NEWPASSWORD.PASSWORDSTRENGTH' | translate}} </mat-label>
                         <span class="FS12 B color-header">{{strengthText}}</span>
                    </div>
                    <div class="strength">
                        <ul class="strengthBar">
                          <li class="point" [style.background-color]="bar0"></li>
                          <li class="point" [style.background-color]="bar1"></li>
                          <li class="point" [style.background-color]="bar2"></li>
                          <li class="point" [style.background-color]="bar3"></li>
                        </ul>
                        <br>
                      </div>
                    <div *ngIf="submitForm && passwordSaved" class="FS13 MT10 set-pw-green">
                        {{'NEWPASSWORD.PASSWOEDSAVEDSUCCESS' | translate}}
                    </div>
                </mat-card-content>
                <mat-card-actions class="PL10">
                    <button type="button" class="global-opaque-btn MR10" (click)="submitNewPassword()">
                        <img class="MR5 MT-3 va-middle" alt="Apply" height="15" src="./assets/images/correct.svg" title="Apply" width="15">
                        {{'CREATE' | translate}}</button>
                    <span class="global-cancel-btn" (click)="cancelForm()">{{'CANCEL' | translate}}</span>
                </mat-card-actions>
            </form>
        </mat-card>
    </div>
</section>